.card {

  position: relative;

  img {

    width: 150px;
    border-radius: 10px;
    height: 230px;

    @media (max-width: 950px) {
      width: 120px;
      height: 180px;
    }

  }

  p {

    padding: 3px 7px;
    position: absolute;
    top: 10px;
    left: 10px;
    color: #FFFFFF;
    font-size: 12px;
    border-radius: 5px;

    @media (max-width: 950px) {
      top: 5px;
      left: 5px;

    }

  }

}