.wrap {
  background-color: #F4F4F4;
  padding: 0 150px;
  
  @media (max-width: 1200px) {
    padding: 0 40px;
  }

  @media (max-width: 700px) {
    background-color: #FFFFFF;
    padding: 0 20px;
  }

  .content {
    background-color: #FFFFFF;
    padding: 50px 50px 80px;

    @media (max-width: 700px) {
      padding: 0 0 40px;
    }

    &_wrap {
      display: flex;
      column-gap: 50px;

      @media (max-width: 1400px) {
        flex-wrap: wrap;
        row-gap: 30px;
      }

    }

    &_title {

      min-width: fit-content;
      margin-bottom: 20px;

      &_facts {
        margin-top: 40px;
        width: 300px;
        display: flex;
        flex-direction: column;
        row-gap: 20px;

        @media (max-width: 1400px) {
          display: none;
        }

      p {
        background-color: #005382;
        color: #FFFFFF;
        padding: 20px;
        border-radius: 5px;
        line-height: 20px;
        box-shadow: rgba(50, 50, 93, 0.25) 0 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
      }

      }

      h2 {
        font-size: 34px;
        font-weight: 600;
        margin-bottom: 20px;

        @media (max-width: 800px) {
          font-size: 28px;
          margin-top: 20px;
        }

      }

      p {
        font-weight: 300;

        @media (max-width: 800px) {
          font-size: 15px;
        }

      }

    }

  }
}