.menu {

  @media (max-width: 950px) {
    display: none;
  }

  li {
    text-decoration: none;
    color: #FFFFFF;
  }

  display: flex;
  align-items: center;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;

  a {
    text-decoration: none;
  }

  ul {
    display: flex;
  }
  ul li {
    position: relative;
    padding: 15px 20px;
    cursor: pointer;
  }
  ul li:hover {
    color: #005382;
    transition: .2s;
  }
  ul li ul {
    position: absolute;
    top: 45px;
    left: 0;
    width: 210px;
    display: none;
    opacity: 0;
    visibility: hidden;
    box-shadow:
            rgba(0, 0, 0, 0.25) 0 54px 55px,
            rgba(0, 0, 0, 0.12) 0px -12px 30px,
            rgba(0, 0, 0, 0.12) 0px 4px 6px,
            rgba(0, 0, 0, 0.17) 0px 12px 13px,
            rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  ul li ul li {
    background: #1F1F1F;
    display: block;
    color: #FFFFFF;
    font-size: 14px;

    &:hover {
      background-color: #282828;
    }

  }
  ul li:hover ul {
    display: block;
    opacity: 1;
    visibility: visible;
  }
}