.header {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 70px;
  background-color: #141414;
  color: #FFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 150px;
  box-sizing: border-box;

  @media (max-width: 1200px) {
    padding: 0 40px;
  }

  &__leftContent {
    display: flex;
    align-items: center;
    column-gap: 100px;

    @media (max-width: 1300px) {
      column-gap: 60px;
    }

    &_logo {

      display: flex;
      align-items: center;
      column-gap: 20px;

      &_title {
        text-transform: uppercase;
        font-size: 22px;
      }

      img {
        height: 40px;
      }
    }

  }

  &__rightContent {

    a {
      text-decoration: none;
      color: #FFFFFF;

      @media (max-width: 950px) {
        display: none;
      }

    }

    &_mobile {
      display: none;
      align-items: center;
      column-gap: 20px;

      &_login {
        height: 34px;
      }

      &_burgerMenu {

        width: 28px;
        height: 22px;
        position: relative;
        cursor: pointer;

        &::before {
          content: '';
          position: absolute;
          top: 0;
          width: 28px;
          background-color: #FFFFFF;
          height: 2px;
          border-radius: 10px;
        }

        span {
          position: absolute;
          top: 10px;
          width: 28px;
          background-color: #FFFFFF;
          height: 3px;
          border-radius: 10px;
        }

        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          width: 28px;
          background-color: #FFFFFF;
          height: 2px;
          border-radius: 10px;
        }

      }

      @media (max-width: 950px) {
        display: flex;
      }

    }

  }

}