.content {
  padding: 0 150px;
  margin-top: 30px;
  display: flex;
  column-gap: 40px;

  &_left {

    img {
      width: 330px;
      border-radius: 10px;
    }

    .title {
      font-size: 22px;
      font-weight: 600;
      margin-top: 30px;
    }

    &_info {

      padding: 10px;

      &_block {

        margin-top: 25px;

        h3 {
          font-size: 17px;
          margin-bottom: 5px;
          width: fit-content;
          border-bottom: 1px solid silver;
          padding-bottom: 2px;
        }

        p {
          font-weight: 300;
        }

      }

    }

  }

  &_right {
    margin-top: 10px;

    &_title {
      font-size: 30px;
      font-weight: 700;
    }

    &_biography {
      margin-top: 40px;

      h3 {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 20px;
      }

      p {
        line-height: 22px;
        font-weight: 300;
      }

    }

    &_knowFor {

      h2 {
        font-size: 18px;
        margin: 20px 0 10px;
        font-weight: 600;
      }

      &_cards {
        display: flex;
        column-gap: 20px;
      }

    }

    &_playing {

      margin: 30px 0;

      h2 {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 20px;
      }

      &_blocks {

        padding: 20px 30px;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;

      }

    }

  }

}